@model List<HelenasBank.Models.Customer>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <h2>Kunder</h2>
    @foreach (var customer in Model)
    {
        <h4>Kund</h4>
        <div class="customer">
            <p>Kundnummer: @customer.Id</p>
            <p>Kund: @customer.Name</p>

            <h4>Konton</h4>
            @foreach (var account in customer.Accounts)
            {

                <div>
                    <p>@account.AccountNo har saldot @account.Balance</p>
                </div>
            }

        </div>
        <hr>
    }
</div>
